<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판 상세 화면</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <table name="post-detail" class="table table-bordered">
                <thead>
                    <tr>
                        <th>제목</th>
                        <th>카테고리</th>
                        <th>내용</th>
                        <th>조회수</th>
                        <th>작성자</th>
                        <th>작성일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${post.title}"></td>
                        <td th:text="${post.categoryName}"></td>
                        <td th:text="${post.content}"></td>
                        <td th:text="${post.readCnt}"></td>
                        <td th:text="${post.writer}"></td>
                        <td th:text="${post.createDate}"></td>
                    </tr>
                </tbody>
            </table>

            <!-- 댓글 표시 -->
            <h2>댓글 목록</h2>
            <div id="comment-list">
                <div th:each="comment : ${comment}">
                    <div>
                        <!-- 일반 댓글 표시 -->
                        <!-- 댓글 등록시 일반 댓글의 commentId를 가져가서 서버에 넘긴 후 에 INSERT 하는 걸로 -->
                        <p th:if="${!comment.path.contains('-')}" th:text="${comment.content}" th:attr="data-comment-id=${comment.commentId}"></p>

                        <!-- 대댓글 표시 -->
                        <div th:if="${comment.path != null and comment.path.contains('-')}">
                            <ul>
                                <li th:text="${comment.content}"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <button id="write-comment-btn" class="btn btn-primary">댓글 작성</button>
            </div>

            <div id="comment-form" class="mt-3" style="display: none;">
                <textarea id="comment-content" class="form-control" rows="3"></textarea>
                <button id="submit-comment-btn" class="btn btn-success mt-3">댓글 등록</button>
            </div>
        </div>
    </div>
</div>
