<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">

<head>
    <title>로그인 화면</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/index/index.css}" type="text/css" />
</head>

<body>
<div layout:fragment="content" class="container center">
    <div class="col-md-6">
        <!-- userName이 존재한다면 아래 로직 수행 -->
        <div sec:authorize="isAuthenticated()">
            Logged in as: <span id="user" sec:authentication="name"></span>
            <div th:if="${name != null}" th:inline="text">
                [[${name}]] 님, 안녕하세요. email : [[${email}]]
            </div>
            <a href="/logout" class="btn btn-primary" role="button">Logout</a>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <!-- javascript에서 검증 후 서버로 넘긴다 -->
            <form th:action="@{/member/login}" action="/member/login" method="post">
                <div class="form-group">
                    <label for="username">아이디</label>
                    <input type="text" class="form-control" id="username" name="username" required placeholder="아이디를 입력해주세요."/>
                </div>
                <div class="form-group">
                    <label for="password">비밀번호</label>
                    <input type="password" class="form-control" id="password" name="password" required placeholder="비밀번호를 입력해주세요."/>
                </div>
                <button type="submit" class="btn btn-primary">로그인</button>
                <button type="button" class="btn btn-primary" onClick="location.href='signUp'">회원 가입</button>
            </form>
            <br>
            <div class="social-login">
                <a href="/oauth2/authorization/google" class="btn btn-secondary login-button google-login">
                    <!--<img src="google_logo.png" alt="Google Logo" />-->구글로 로그인
                </a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary login-button naver-login">
                    <!--<img src="naver_logo.png" alt="Naver Logo" />-->네이버로 로그인
                </a>
                <a href="/oauth2/authorization/kakao" class="btn btn-secondary login-button kakao-login">
                    <!--<img src="kakao_logo.png" alt="Kakao Logo" />-->카카오로 로그인
                </a>
                <!--<a href="/oauth2/authorization/twitter" class="btn btn-secondary login-button twitter-login">
                    &lt;!&ndash;<img src="twitter_logo.png" alt="Twitter Logo" />&ndash;&gt;트위터로 로그인
                </a>-->
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4mN2t3Ksk2/E1LR83tnD6"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqd9JT0pbrEr+rHIRsCf1105Ck5cg8+k5YRY2owMxUoA6KsmfD5IbbVJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
