<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">

<div layout:fragment="content">
  <!-- 20230705 data-interval 3초로 변경 -->
  <div id="carouselControls" class="carousel slide margin" data-ride="carousel" data-interval="3000">
    <div class="carousel-inner">
      <!-- 1번 행사 이미지 -->
      <div class="carousel-item active item">
        <!--<img class="d-block w-100 banner" src="https://user-images.githubusercontent.com/13268420/112147492-1ab76200-8c20-11eb-8649-3d2f282c3c02.png" alt="First slide">-->
        <img class="d-block w-100 banner" th:src="@{/images/20230705/event/blackfri_02.jpg}" alt="First slide">
      </div>
      <!-- 2번 행사 이미지 -->
      <div class="carousel-item item">
        <!--<img class="d-block w-100 banner" src="https://user-images.githubusercontent.com/13268420/112147492-1ab76200-8c20-11eb-8649-3d2f282c3c02.png" alt="Second slide">-->
        <img class="d-block w-100 banner" th:src="@{/images/20230705/event/blackfri_02.jpg}" alt="Second slide">
      </div>
      <!-- 3번 행사 이미지 -->
      <div class="carousel-item item">
        <!--<img class="d-block w-100 banner" src="https://user-images.githubusercontent.com/13268420/112147492-1ab76200-8c20-11eb-8649-3d2f282c3c02.png" alt="Third slide">-->
        <img class="d-block w-100 banner" th:src="@{/images/20230705/event/blackfri_02.jpg}" alt="Third slide">
      </div>
    </div>
  </div>

  <!-- 컨텐츠 영역 -->
  <div class="row">
    <div class="col-md-4 margin">
      <div class="card">
        <a href="#" class="text-dark">
          <img th:src="@{/images/items/jean.png}" class="card-img-top" height="400">
          <div class="card-body">
            <h4 class="card-title">상품명</h4>
            <p class="card-text">상품 상세 설명</p>
            <h3 class="card-title text-danger">5000원</h3>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 margin">
      <div class="card">
        <a href="#" class="text-dark">
          <img th:src="@{/images/items/jean.png}" class="card-img-top" height="400">
          <div class="card-body">
            <h4 class="card-title">상품명2</h4>
            <p class="card-text">상품 상세 설명2</p>
            <h3 class="card-title text-danger">5000원</h3>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 margin">
      <div class="card">
        <a href="#" class="text-dark">
          <img th:src="@{/images/items/jean.png}" class="card-img-top" height="400">
          <div class="card-body">
            <h4 class="card-title">상품명3</h4>
            <p class="card-text">상품 상세 설명3</p>
            <h3 class="card-title text-danger">5000원</h3>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
</html>
