<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/basic">

    <th:block layout:fragment="title">
        <title>인덱스 페이지</title>
    </th:block>

    <th:block layout:fragment="content">
        <div class="content">
            <h1>인덱스 페이지</h1>
        </div>
    </th:block>

    <th:block layout:fragment="script">
        <!-- /* <script th:src="@{/js/index/xxx.js}"></script> */-->
    </th:block>
</html>