<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/basic">

<th:block layout:fragment="title">
    <title>Shop in style</title>
</th:block>

<th:block layout:fragment="content">
    <!-- 상단 swiper 배너 영역 -->
    <section id="billboard" class="position-relative overflow-hidden bg-light-blue">
        <div class="swiper main-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-6">
                                <div class="banner-content">
                                    <h1 class="display-2 text-uppercase text-dark pb-5">Your Products Are Great.</h1>
                                    <!-- TODO: 수정 -->
                                    <a href="#" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Shop Product</a>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="image-holder">
                                    <img th:src="@{/bootstrap/images/banner-image.png}" alt="banner">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="container">
                        <div class="row d-flex flex-wrap align-items-center">
                            <div class="col-md-6">
                                <div class="banner-content">
                                    <h1 class="display-2 text-uppercase text-dark pb-5">Technology Hack You Won't Get</h1>
                                    <!-- TODO: 수정 -->
                                    <a href="#" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Shop Product</a>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="image-holder">
                                    <img th:src="@{/bootstrap/images/banner-image.png}" alt="banner">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-icon swiper-arrow swiper-arrow-prev">
            <svg class="chevron-left">
                <use xlink:href="#chevron-left"/>
            </svg>
        </div>
        <div class="swiper-icon swiper-arrow swiper-arrow-next">
            <svg class="chevron-right">
                <use xlink:href="#chevron-right"/>
            </svg>
        </div>
    </section>
    <!-- 회사 소개 중간 영역 -->
    <section id="company-services" class="padding-large">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 pb-3">
                    <div class="icon-box d-flex">
                        <div class="icon-box-icon pe-3 pb-3">
                            <svg class="cart-outline">
                                <use xlink:href="#cart-outline"/>
                            </svg>
                        </div>
                        <div class="icon-box-content">
                            <h3 class="card-title text-uppercase text-dark">Free delivery</h3>
                            <p>Consectetur adipi elit lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 pb-3">
                    <div class="icon-box d-flex">
                        <div class="icon-box-icon pe-3 pb-3">
                            <svg class="quality">
                                <use xlink:href="#quality"/>
                            </svg>
                        </div>
                        <div class="icon-box-content">
                            <h3 class="card-title text-uppercase text-dark">Quality guarantee</h3>
                            <p>Dolor sit amet orem ipsu mcons ectetur adipi elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 pb-3">
                    <div class="icon-box d-flex">
                        <div class="icon-box-icon pe-3 pb-3">
                            <svg class="price-tag">
                                <use xlink:href="#price-tag"/>
                            </svg>
                        </div>
                        <div class="icon-box-content">
                            <h3 class="card-title text-uppercase text-dark">Daily offers</h3>
                            <p>Amet consectetur adipi elit loreme ipsum dolor sit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 pb-3">
                    <div class="icon-box d-flex">
                        <div class="icon-box-icon pe-3 pb-3">
                            <svg class="shield-plus">
                                <use xlink:href="#shield-plus"/>
                            </svg>
                        </div>
                        <div class="icon-box-content">
                            <h3 class="card-title text-uppercase text-dark">100% secure payment</h3>
                            <p>Rem Lopsum dolor sit amet, consectetur adipi elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 휴대폰 상품 영역 -->
    <section id="mobile-products" class="product-store position-relative padding-large no-padding-top">
        <div class="container">
            <div class="row">
                <div class="display-header d-flex justify-content-between pb-3">
                    <h2 class="display-7 text-dark text-uppercase">Mobile Products</h2>
                    <div class="btn-right">
                        <!-- TODO: 수정 -->
                        <a href="#" class="btn btn-medium btn-normal text-uppercase">Go to Shop</a>
                    </div>
                </div>
                <div class="swiper product-swiper">
                    <div class="swiper-wrapper">
                        <!-- TODO: 이 부분을 서버에서 받아와서 처리, 이미지도 서버에서 받아오는게 좋을 듯 -->
                        <th:block th:each="phone : ${products.productByPhones}">
                            <div class="swiper-slide">
                                <div class="product-card position-relative">
                                    <!-- 상품 이미지 출력 -->
                                    <div class="image-holder">
                                        <img th:if="${phone != null and not #strings.isEmpty(phone.productFiles.filePath)}"
                                             th:src="@{'/upload' + ${phone.productFiles.filePath}}" alt="product-item" class="img-fluid">
                                    </div>
                                    <div class="cart-concern position-absolute">
                                        <div class="cart-button d-flex">
                                            <a href="#" class="btn btn-medium btn-black">Add to Cart
                                                <svg class="cart-outline">
                                                    <use xlink:href="#cart-outline"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                        <!-- 상품명 -->
                                        <h3 class="card-title text-uppercase">
                                            <a th:if="${phone != null and not #strings.isEmpty(phone.productId) and not #strings.isEmpty(phone.productName)}"
                                                th:href="@{/api/v1/products(productId = ${phone.productId})}"
                                                th:text="${phone.productName}"></a>
                                        </h3>
                                        <!-- 상품 가격 -->
                                        <span th:if="${phone != null and not #strings.isEmpty(phone.productPrice)}"
                                              th:text="${#numbers.formatInteger(phone.productPrice, 0, 'COMMA')}" class="item-price text-primary">1,000,000</span>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination position-absolute text-center"></div>
    </section>
    <!-- 스마트 워치 상품 영역 -->
    <section id="smart-watches" class="product-store padding-large position-relative">
        <div class="container">
            <div class="row">
                <div class="display-header d-flex justify-content-between pb-3">
                    <h2 class="display-7 text-dark text-uppercase">Smart Watches</h2>
                    <div class="btn-right">
                        <!-- TODO: 링크 연결 수정 -->
                        <a href="#" class="btn btn-medium btn-normal text-uppercase">Go to Shop</a>
                    </div>
                </div>
                <div class="swiper product-watch-swiper">
                    <div class="swiper-wrapper">
                        <th:block th:each="watch : ${products.productByWatches}">
                            <div class="swiper-slide">
                                <div class="product-card position-relative">
                                    <div class="image-holder">
                                        <img th:if="${watch != null and not #strings.isEmpty(watch.productFiles.filePath)}"
                                             th:src="@{'/upload' + ${watch.productFiles.filePath}}" alt="product-item" class="img-fluid">
                                    </div>
                                    <div class="cart-concern position-absolute">
                                        <div class="cart-button d-flex">
                                            <a href="#" class="btn btn-medium btn-black">Add to Cart
                                                <svg class="cart-outline">
                                                    <use xlink:href="#cart-outline"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                        <!-- 상품명 -->
                                        <h3 class="card-title text-uppercase">
                                            <a th:if="${watch != null and not #strings.isEmpty(watch.productId) and not #strings.isEmpty(watch.productName)}"
                                               th:href="@{/api/v1/products(productId = ${watch.productId})}"
                                               th:text="${watch.productName}"></a>
                                        </h3>
                                        <!-- 상품 가격 -->
                                        <span th:if="${watch != null and not #strings.isEmpty(watch.productPrice)}"
                                              th:text="${#numbers.formatInteger(watch.productPrice, 0, 'COMMA')}" class="item-price text-primary">1,000,000</span>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination position-absolute text-center"></div>
    </section>

    <!-- 로그인 및 회원가입 모달 영역 -->
    <div id="mainModalContainer"></div>
</th:block>
</html>