<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layout/basic">

<th:block layout:fragment="title">
    <title>메인 페이지</title>
</th:block>

<th:block layout:fragment="content">
    <div class="container">
        <!-- 로그인한 사용자를 환영하는 메시지 -->
        <div sec:authorize="isAuthenticated()">
            <h1>환영합니다, <span id="user" sec:authentication="name"></span>!</h1>
            <div th:if="${name != null}" th:inline="text">
                [[${name}]] 님, 안녕하세요. email : [[${email}]]
            </div>
            <a href="/logout" class="btn btn-primary" role="button">Logout</a>
        </div>

        <div sec:authorize="!isAuthenticated()">
            <!-- 로그인하지 않은 사용자는 로그인 페이지로 이동 -->
            <h1>로그인 해주세요</h1>
            <a href="/member/loginForm" class="btn btn-primary" role="button">로그인 페이지로 이동</a>
        </div>
    </div>
</th:block>
</html>
