<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.post.repository.post.PostMapper">

    <!-- 전체 게시글 조회 -->
    <select id="getPosts" resultType="com.post.domain.posts.Post">
        SELECT
            p.post_id,
            p.title,
            p.content,
            p.member_id,
            p.read_cnt,
            p.fixed_yn,
            p.del_yn,
            p.create_date,
            p.update_date,
            p.delete_date
        FROM post p;
    </select>

    <!-- 단일 게시글 조회 -->
    <select id="getPostById" resultType="com.post.domain.posts.Post">
        SELECT
            p.post_id,
            p.title,
            p.content,
            p.member_id,
            p.read_cnt,
            p.fixed_yn,
            p.del_yn,
            p.create_date,
            p.update_date,
            p.delete_date
        FROM post p
        WHERE p.post_id = #{postId}
    </select>

    <!-- 게시글 등록 -->
    <insert id="savePost" parameterType="com.post.domain.posts.Post" useGeneratedKeys="true" keyProperty="postId">
        INSERT INTO post (member_id, title, content, fixed_yn)
        VALUE  (#{memberId}, #{title}, #{content}, #{fixedYn})
    </insert>

    <update id="updatePostById" parameterType="com.post.domain.posts.Post">
        UPDATE post
        SET
            title = #{title},
            content = #{content},
            fixed_yn = #{fixedYn} /* FIXME: Admin인 경우에만 처리 하도록 수정 */
        WHERE
            post_id = #{postId}
        AND
            member_id = #{memberId}
    </update>
</mapper>
