.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-button {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.google-login {
    background-color: #FFFFFF;
    color: #000000;
}

.google-login img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.naver-login {
    background-color: #1EC800;
    color: #FFFFFF;
}

.naver-login img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.kakao-login {
    background-color: #FFD800;
    color: #FFFFFF;
}

.kakao-login img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.twitter-login {
    background-color: #1DA1F2;
    color: #FFFFFF;
}

.twitter-login img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
