<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body th:fragment="main-body" data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0">

    <!-- Body :: Header -->
    <div th:replace="fragments/header :: main-header"></div>

    <!-- Body :: Contents -->
    <th:block layout:fragment="content"/>

    <!-- Body :: Footer -->
    <div th:replace="fragments/footer :: main-footer"></div>

    <!-- common javascript -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <!--<script type="text/javascript" th:src="@{/bootstrap/js/jquery-1.11.0.min.js}"></script>-->
    <script type="text/javascript" th:src="@{/bootstrap/js/jquery-3.7.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/plugins.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/script.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/timer.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/fetchTemplate.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/loading.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/message.js}"></script>

    <!-- custom javascript by view page -->
    <th:block layout:fragment="script"></th:block>
</body>
</html>