<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>게시판 상세 화면</title>
</head>
<body>
<div class="page_tits">
    <h3>게시판 관리</h3>
    <p class="path"><strong>현재 위치 :</strong> <span>게시판 관리</span> <span>상세</span></p>
</div>
<div class="content">
    <div>
        <th:block th:if="${#lists.isEmpty(post)}">
            <label for="title">* 비고:</label>
            <input type="text" id="etc" th:value="게시글이 존재하지 않습니다."><br>
        </th:block>
        <th:block th:unless="${#lists.isEmpty(post)}">
            <label for="postId"></label>
            <input type="hidden" id="postId" class="postId" data-key="postId" th:if="${not #lists.isEmpty(post.postId)}" th:value="${post.postId}" />

            <label for="fixedYn">고정글:</label>
            <input type="checkbox" id="fixedYn" th:checked="${post.fixedYn == 'Y'}"><br>

            <label for="title">* 제목:</label>
            <input type="text" id="title" th:value="${post.title}"><br>

            <!-- Todo: 변경 필요 -->
            <label for="category">* 카테고리:</label>
            <input type="text" id="category" th:value="${post.categoryName}"><br>

            <label for="content">
                * 내용
                <!-- https://rebornbb.tistory.com/entry/HTML-iframe-%EC%9C%A0%ED%8A%9C%EB%B8%8C-%EB%8F%99%EC%98%81%EC%83%81-%EC%9E%90%EB%8F%99-%EC%97%B0%EC%86%8D%EC%9E%AC%EC%83%9D -->
                <textarea id="content" rows="4" cols="50" placeholder="내용을 입력하세요..." th:text="${post.content}"></textarea>
            </label><br>

            <label for="readCount">* 조회수:</label>
            <input type="text" id="readCount" th:value="${post.readCnt}" readonly><br>

            <label for="author">* 작성자:</label>
            <input type="text" id="author" th:value="${post.writer != null} ? ${post.writer} : ${'비고'}" readonly><br>

            <!-- File Attachment Area -->
            <label for="fileAttachment">파일 첨부:</label>
            <input type="file" id="fileAttachment" name="fileAttachment"><br>
            <!--
                Todo
                    - 단일 게시글 조회에서 파일 조인해서 가져오고, 첨부 파일이 붙은 게시글이면 확인 후 해당 파일명(orginFileName)
                    을 뿌려주고, 그렇지 않다면 파일 업로드 input 태그를 보여준다. 또한 파일명 클릭했을때는 파일 다운로드가 가능해야
                    하는데 일반 파일 다운로드는 /api/v1/download/{fileId} ::::: /api/v1/download/compress/{postId}
            <input th:if="${post.fileAttached}" type="file" id="fileAttachment" name="fileAttachment"><br>-->
        </th:block>

    </div>
    <p class="btn_set">
        <button type="button" th:onclick="'updatePosts(' + ${post.postId} + ')'" class="btns btn_bdr1 btn_mid">수정</button>
        <button type="button" th:onclick="'deletePosts(' + ${post.postId} + ')'" class="btns btn_bdr1 btn_mid">삭제</button>
        <button type="button" th:onclick="goListPage()" class="btns btn_bdr3 btn_mid">뒤로</button>
    </p><br>

    <div id="comment_parent">
        <div id="comment_first_child" th:if="${post.comments != null and not #lists.isEmpty(post.comments)}" th:each="comment : ${post.comments}">
            <div id="comment_second_child">
                <!-- 일반 댓글 표시 -->
                <!-- 댓글 등록시 일반 댓글의 commentId를 가져가서 서버에 넘긴 후 에 INSERT 하는 걸로 -->
                <p id="parent" th:if="${!comment.path.contains('-')}" th:text="${comment.content}" th:attr="data-comment-id=${comment.commentId}"></p>
                <!-- 대댓글 표시 -->
                <div id="child" th:if="${comment.path != null and comment.path.contains('-')}" th:attr="data-parent-id=${comment.parentId}">
                    <ul>
                        <li th:text="${comment.content}"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="commentForm">
        <textarea id="commentContent" rows="3"></textarea><br>
        <button type="button" th:onclick="'saveComment(' + ${post.postId} + ')'" class="submitCommentBtn" id="submitCommentBtn">댓글 등록</button>
    </div><br><br>
    <!--<div id="comment-form" style="display: none;">-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/common/common.js"></script>
    <script src="/js/common/message.js"></script>
    <script src="/js/common/commonFetchTemplate.js"></script>
    <script src="/js/post/postDetail.js"></script>
</div>
</body>
</html>
