<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판 상세 화면</title>
</head>
<body>
<div class="page_tits">
    <h3>게시판 관리</h3>
    <p class="path"><strong>현재 위치 :</strong> <span>게시판 관리</span> <span>상세</span></p>
</div>
<div class="content">
    <div>
        <th:block th:if="${#lists.isEmpty(post)}">
            <label for="title">* 비고:</label>
            <input type="text" id="etc" th:value="게시글이 존재하지 않습니다."><br>
        </th:block>
        <th:block th:unless="${#lists.isEmpty(post)}">
            <label for="postId"></label>
            <input type="hidden" id="postId" class="postId" data-key="postId" th:if="${not #lists.isEmpty(post.postId)}" th:value="${post.postId}" />

            <label for="fixedYn">고정글:</label>
            <input type="checkbox" id="fixedYn" th:checked="${post.fixedYn == 'Y'}"><br>

            <label for="title">* 제목:</label>
            <input type="text" id="title" th:value="${post.title}"><br>

            <!-- select - option으로 수정 -->
            <label for="category">* 카테고리:</label>
            <input type="text" id="category" th:value="${post.categoryName}"><br>

            <label for="content">
                * 내용
                <!-- https://rebornbb.tistory.com/entry/HTML-iframe-%EC%9C%A0%ED%8A%9C%EB%B8%8C-%EB%8F%99%EC%98%81%EC%83%81-%EC%9E%90%EB%8F%99-%EC%97%B0%EC%86%8D%EC%9E%AC%EC%83%9D -->
                <textarea id="content" rows="4" cols="50" placeholder="내용을 입력하세요..." th:text="${post.content}"></textarea>
            </label><br>

            <label for="readCount">* 조회수:</label>
            <input type="text" id="readCount" th:value="${post.readCnt}" readonly><br>

            <label for="author">* 작성자:</label>
            <input type="text" id="author" th:value="${post.writer != null} ? ${post.writer} : ${'비고'}" readonly><br>

            <th:block th:if="${not #lists.isEmpty(post.postFiles)}">
                <!-- 단일 파일 다운로드 -->
                <th:block th:each="postFile : ${post.postFiles}">
                    * 파일 첨부:
                    <a href="#" th:if="${postFile.fileAttached == 'Y'}" th:onclick="postInfo.downloadAttachedFile(this, [[${postFile.postFileId}]]);">
                        <span id="attachedFile" th:text="${postFile.originFileName}"></span>
                        <span id="fileSize" th:text="${postFile.fileSize}">kb</span>
                        <!--<a href="#this" id="fileDelete">삭제</a>-->
                    </a>
                    <a href="#" id="fileDelete">삭제</a>
                    <br>
                </th:block>
                <!-- 게시글 번호에 매핑 되어 있는 파일은 gzip 처리 하여 다운로드 -->
                <button type="button" th:onclick="postInfo.downloadAttachedFilesByCompressed([[${post.postId}]]);">전체 파일 압축 다운로드</button>
                <br><br>
            </th:block>

            <label for="file">* 파일 첨부:</label>
            <input type="file" id="file" name="file" multiple><br>
        </th:block>
    </div>

    <!-- 게시글 수정, 삭제, 뒤로 -->
    <p class="btn_set">
        <button type="button" th:onclick="postInfo.updatePosts([[${post.postId}]])" class="btns btn_bdr1 btn_mid">수정</button>
        <button type="button" th:onclick="postInfo.deletePosts([[${post.postId}]])" class="btns btn_bdr1 btn_mid">삭제</button>
        <button type="button" th:onclick="postInfo.goListPage()" class="btns btn_bdr3 btn_mid">뒤로</button>
    </p><br>

    <!-- 댓글 영역
         - Todo: 대댓글 정렬 순서 조정 필요, 가장 최근에 등록한 순부터 출력
    -->
    <div id="commentList">
        <th:block th:if="${post.comments != null and not #lists.isEmpty(post.comments)}" th:each="comment : ${post.comments}">
            <!-- 댓글 템플릿-->
            <div id="commentTemplate" th:if="${comment.path != null and !comment.path.contains('-') and comment.content != null and comment.content != ''}" style="display:none;" th:attr="data-comment-id=${comment.commentId}">
                <input type="text" id="commentTemplateContent" th:value="${comment.content}" />
                <button type="button" th:onclick="commentInfo.updateComment(this, [[${comment.commentId}]])" th:attr="data-post-id=${comment.postId}">수정 완료</button>
                <button type="button" th:onclick="commentInfo.hideCommentEditBox(this, [[${comment.commentId}]])">취소</button>
                <button type="button" th:onclick="commentInfo.deleteComments(this, [[${comment.commentId}]])" th:attr="data-post-id=${comment.postId}">삭제</button>
                <button type="button" th:onclick="commentInfo.showReplyToCommentEditBox(this)">댓글 달기</button>
            </div>

            <!-- 댓글 -->
            <div id="commentInfo" th:if="${comment.path != null and !comment.path.contains('-') and comment.content != null and comment.content != ''}" th:attr="data-comment-id=${comment.commentId}">
                <span id="comment" th:text="${comment.content}"></span>
                <button type="button" th:onclick="commentInfo.showCommentEditBox(this, [[${comment.commentId}]])">수정</button>
                <button type="button" th:onclick="commentInfo.deleteComments(this, [[${comment.commentId}]])" th:attr="data-post-id=${comment.postId}">삭제</button>
                <button type="button" th:onclick="commentInfo.showReplyToCommentEditBox(this)">댓글 달기</button>
            </div>

            <!-- 댓글 달기 템플릿 -->
            <div id="executeReplyTemplate" style="display: none">
                <ul id="executeReplySubInfoTemplate" class="executeReplySubInfoTemplate">
                    <li>
                        <input type="text"></input>
                        <button type="button" th:onclick="commentInfo.saveCommentReply(this)" th:attr="data-post-id=${comment.postId}">대댓글 작성</button>
                        <button type="button" th:onclick="commentInfo.hideReplyToCommentEditBox(this)">취소</button>
                    </li>
                </ul>
            </div>

            <!-- 대댓글 템플릿 -->
            <div id="commentReplyTemplate" th:if="${comment.path != null and comment.path.contains('-') and comment.content != null}" th:attr="data-parent-id=${comment.parentId}" style="display: none">
                <ul id="commentReplySubInfoTemplate" class="commentReplySubInfoTemplate">
                    <li>
                        <input type="text" th:value="${comment.content}"></input>
                        <button type="button" th:onclick="commentInfo.updateComment(this, [[${comment.commentId}]])" th:attr="data-post-id=${comment.postId}">수정 완료</button>
                        <button type="button" th:onclick="commentInfo.hideCommentReplyEditBox(this, [[${comment.commentId}]])">취소</button>
                        <button type="button" th:onclick="commentInfo.deleteCommentReply(this, [[${comment.commentId}]])" th:attr="data-post-id=${comment.postId}">삭제</button>
                    </li>
                </ul>
            </div>

            <!-- 대댓글 -->
            <div id="commentReply" th:if="${comment.path != null and comment.path.contains('-') and comment.content != null}" th:attr="data-parent-id=${comment.parentId}">
                <ul id="commentReplySubInfo" class="commentReplySubInfo">
                    <li>
                        <span th:text="${comment.content}"></span>
                        <button type="button" th:onclick="commentInfo.showCommentReplyEditBox(this, [[${comment.commentId}]])">수정</button>
                        <button type="button" th:onclick="commentInfo.deleteCommentReply(this, [[${comment.commentId}]])" th:attr="data-post-id=${comment.postId}">삭제</button>
                    </li>
                </ul>
            </div>
        </th:block>
    </div>

    <!-- 댓글 등록 -->
    <div id="commentForm">
        <textarea id="commentContent" rows="3"></textarea><br>
        <button type="button" th:onclick="commentInfo.saveComment([[${post.postId}]])" class="submitCommentBtn" id="submitCommentBtn">댓글 등록</button>
    </div><br>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/common/common.js"></script>
    <script src="/js/common/message.js"></script>
    <script src="/js/common/fetchTemplate.js"></script>
    <script src="/js/post/postDetail.js"></script>
</div>
</body>
</html>
