<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/basic">

    <th:block layout:fragment="title">
        <title>상세 페이지</title>
    </th:block>

    <th:block layout:fragment="content">
        <div class="page_tits">
            <h3>게시판 관리</h3>
            <p class="path"><strong>현재 위치 :</strong> <span>게시판 관리</span> <span>리스트형</span> <span>상세정보</span></p>
        </div>

        <!-- body content area -->
        <div class="content">
            <section>
                <th:block th:if="${#lists.isEmpty(post)}">
                    <p>게시글이 존재하지 않습니다.</p>
                </th:block>

                <th:block th:unless="${#lists.isEmpty(post)}">
                    <table class="tb tb_row">
                        <colgroup>
                            <col style="width:10%;"/><col style="width:23%;"/><col style="width:10%;"/><col style="width:23%;"/>
                        </colgroup>
                        <tbody>
                            <input type="hidden" id="postId" class="postId" data-key="postId" th:if="${not #lists.isEmpty(post.postId)}" th:value="${post.postId}" />
                            <tr>
                                <th scope="row">글 유형</th>
                                <td id="fixedYn" th:text="${post.fixedYn == 'Y' ? '일반' : '공지'}"></td>

                                <th scope="row">등록일</th>
                                <td th:text="${#temporals.format( post.createDate, 'yyyy-MM-dd HH:mm' )}"></td>
                            </tr>
                            <tr>
                                <th scope="row">제목</th>
                                <td id="title" th:text="${post.title != null} ? ${post.title} : 'X'"></td>

                                <th scope="row">조회수</th>
                                <td colspan="3" th:text="${post.readCnt != null} ? ${post.readCnt} : '0'"></td>
                            </tr>
                            <tr>
                                <th scope="row">작성자</th>
                                <td colspan="3" th:text="${post.writer != null} ? ${post.writer} : 'X'"></td>
                            </tr>
                            <tr>
                                <th scope="row">내용</th>
                                <td colspan="3" th:text="${post.content != null} ? ${post.content} : ''"></td>
                            </tr>
                            <tr>
                                <th scope="row">첨부파일</th>
                                <td id="files" colspan="3">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </th:block>
                <p class="btn_set">
                    <!--/*<button type="button" onclick="goWritePage();" class="btns btn_bdr4 btn_mid">수정</button>*/-->
                    <button type="button" th:onclick="postInfo.updatePosts([[${post.postId}]])" class="btns btn_bdr1 btn_mid">수정</button>
                    <button type="button" th:onclick="postInfo.deletePosts([[${post.postId}]])" class="btns btn_bdr1 btn_mid">삭제</button>
                    <button type="button" th:onclick="postInfo.goListPage()" class="btns btn_bdr3 btn_mid">뒤로</button>
                </p><br>
            </section>

            <!--/* <div>
                <th:block th:if="${#lists.isEmpty(post)}">
                    <label for="title">* 비고:</label>
                    <input type="text" id="etc" th:value="게시글이 존재하지 않습니다."><br>
                </th:block>
                <th:block th:unless="${#lists.isEmpty(post)}">
                    <label for="postId"></label>
                    <input type="hidden" id="postId" class="postId" data-key="postId" th:if="${not #lists.isEmpty(post.postId)}" th:value="${post.postId}" />

                    <label for="fixedYn">고정글:</label>
                    <input type="checkbox" id="fixedYn" th:checked="${post.fixedYn == 'Y'}"><br>

                    <label for="title">* 제목:</label>
                    <input type="text" id="title" th:value="${post.title}"><br>

                    &lt;!&ndash; select - option으로 수정 &ndash;&gt;
                    <label for="category">* 카테고리:</label>
                    <input type="text" id="category" th:value="${post.categoryName}"><br>

                    <label for="content">
                        * 내용
                        <textarea id="content" rows="4" cols="50" placeholder="내용을 입력하세요..." th:text="${post.content}"></textarea>
                    </label><br>

                    <label for="readCount">* 조회수:</label>
                    <input type="text" id="readCount" th:value="${post.readCnt}" readonly><br>

                    <label for="author">* 작성자:</label>
                    <input type="text" id="author" th:value="${post.writer != null} ? ${post.writer} : ${'비고'}" readonly><br>

                    &lt;!&ndash; 기존 파일 목록 &ndash;&gt;
                    <th:block th:if="${not #lists.isEmpty(post.postFiles)}">
                        <div id="existing-files">
                            <th:block th:each="postFile, iterStat : ${post.postFiles}">
                                <div class="file-input" th:id="'file_' + ${iterStat.index}">
                                    * 파일 첨부:
                                    <a href="#" th:if="${postFile.fileAttached == 'Y'}" th:onclick="postInfo.downloadAttachedFile(this, [[${postFile.postFileId}]])">
                                        <span th:text="${postFile.originFileName}">파일명</span>
                                        <span th:text="${postFile.fileSize} + 'kb'">파일 크기</span>
                                    </a>

                                    &lt;!&ndash; 숨겨진 필드로 기존 파일 정보 저장 &ndash;&gt;
                                    <input type="hidden" th:name="'existingFiles[' + ${iterStat.index} + '].id'" th:value="${postFile.postFileId}" />
                                    <input type="hidden" th:name="'existingFiles[' + ${iterStat.index} + '].delete'" th:value="false" th:id="'delete_' + ${iterStat.index}" />

                                    &lt;!&ndash; 삭제 링크 &ndash;&gt;
                                    <a href="#" th:onclick='postInfo.deleteFile([[${iterStat.index}]])'>삭제</a>
                                </div>
                            </th:block><br>
                        </div>
                        <button type="button" id="downloadAllZipFiles" th:onclick="postInfo.downloadAttachedFilesByCompressed([[${post.postId}]]);">첨부 파일 압축 다운로드</button>
                    </th:block>

                    &lt;!&ndash; 새 파일 추가 &ndash;&gt;
                    <div class="file-add">
                        <label for="newFile">* 새 파일 첨부:</label>
                        <input type="file" id="newFile" name="newFile" multiple><br>
                    </div>
                </th:block>
            </div> */-->

            <div id="commentList">
                <th:block th:if="${post.comments != null and not #lists.isEmpty(post.comments)}" th:each="comment : ${post.comments}">
                    <!-- 댓글 템플릿-->
                    <div id="commentTemplate" th:if="${comment.path != null and !comment.path.contains('-') and comment.content != null and comment.content != ''}" style="display:none;" th:attr="data-comment-id=${comment.commentId}">
                        <input type="text" id="commentTemplateContent" th:value="${comment.content}" />
                        <button type="button" th:onclick="commentInfo.updateComment(this, [[${comment.commentId}]])" th:attr="data-post-id=${comment.postId}">수정 완료</button>
                        <button type="button" th:onclick="commentInfo.hideCommentEditBox(this, [[${comment.commentId}]])">취소</button>
                        <button type="button" th:onclick="commentInfo.deleteComments(this, [[${comment.commentId}]])" th:attr="data-post-id=${comment.postId}">삭제</button>
                        <button type="button" th:onclick="commentInfo.showReplyToCommentEditBox(this)">댓글 달기</button>
                    </div>

                    <!-- 댓글 -->
                    <div id="commentInfo" th:if="${comment.path != null and !comment.path.contains('-') and comment.content != null and comment.content != ''}" th:attr="data-comment-id=${comment.commentId}">
                        <span id="comment" th:text="${comment.content}"></span>
                        <button type="button" th:onclick="commentInfo.showCommentEditBox(this, [[${comment.commentId}]])">수정</button>
                        <button type="button" th:onclick="commentInfo.deleteComments(this, [[${comment.commentId}]])" th:attr="data-post-id=${comment.postId}">삭제</button>
                        <button type="button" th:onclick="commentInfo.showReplyToCommentEditBox(this)">댓글 달기</button>
                    </div>

                    <!-- 댓글 달기 템플릿 -->
                    <div id="executeReplyTemplate" style="display: none">
                        <ul id="executeReplySubInfoTemplate" class="executeReplySubInfoTemplate">
                            <li>
                                <input type="text"></input>
                                <button type="button" th:onclick="commentInfo.saveCommentReply(this)" th:attr="data-post-id=${comment.postId}">대댓글 작성</button>
                                <button type="button" th:onclick="commentInfo.hideReplyToCommentEditBox(this)">취소</button>
                            </li>
                        </ul>
                    </div>

                    <!-- 대댓글 템플릿 -->
                    <div id="commentReplyTemplate" th:if="${comment.path != null and comment.path.contains('-') and comment.content != null}" th:attr="data-parent-id=${comment.parentId}" style="display: none">
                        <ul id="commentReplySubInfoTemplate" class="commentReplySubInfoTemplate">
                            <li>
                                <input type="text" th:value="${comment.content}"></input>
                                <button type="button" th:onclick="commentInfo.updateComment(this, [[${comment.commentId}]])" th:attr="data-post-id=${comment.postId}">수정 완료</button>
                                <button type="button" th:onclick="commentInfo.hideCommentReplyEditBox(this, [[${comment.commentId}]])">취소</button>
                                <button type="button" th:onclick="commentInfo.deleteCommentReply(this, [[${comment.commentId}]])" th:attr="data-post-id=${comment.postId}">삭제</button>
                            </li>
                        </ul>
                    </div>

                    <!-- 대댓글 -->
                    <div id="commentReply" th:if="${comment.path != null and comment.path.contains('-') and comment.content != null}" th:attr="data-parent-id=${comment.parentId}">
                        <ul id="commentReplySubInfo" class="commentReplySubInfo">
                            <li>
                                <span th:text="${comment.content}"></span>
                                <button type="button" th:onclick="commentInfo.showCommentReplyEditBox(this, [[${comment.commentId}]])">수정</button>
                                <button type="button" th:onclick="commentInfo.deleteCommentReply(this, [[${comment.commentId}]])" th:attr="data-post-id=${comment.postId}">삭제</button>
                            </li>
                        </ul>
                    </div>
                </th:block>
            </div>

            <div id="commentForm">
                <textarea id="commentContent" rows="3"></textarea><br>
                <button type="button" th:onclick="commentInfo.saveComment([[${post.postId}]])" id="submitCommentBtn" class="btns btn_bdr3 btn_mid">댓글 등록</button>
            </div><br>
        </div>
    </th:block>

    <!-- 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:src="@{/js/post/postDetail.js}"></script>
    </th:block>
</html>
