<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>게시판 리스트 화면 테스트</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<div class="page_tits">
    <h3>게시판 관리</h3>
    <p class="path"><strong>현재 위치 :</strong> <span>게시판 관리</span> <span>리스트형</span> <span>리스트</span></p>
</div>
<div class="content">
    <section>
        <table border="1">
            <colgroup>
                <col style="width: 5%;"/>
                <col style="width: 5%;"/>
                <col style="width: 30%;"/>
                <col style="width: 20%;"/>
                <col style="width: 15%;"/>
                <col style="width: 10%;"/>
                <col style="width: 15%;"/>
                <col style="width: 10%;"/>
            </colgroup>
            <thead>
                <tr>
                    <th scope="col"><input type="checkbox"/></th>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">내용</th>
                    <th scope="col">작성자</th>
                    <th scope="col">파일 첨부 여부</th>
                    <th scope="col">등록일</th>
                    <th scope="col">조회수</th>
                </tr>
            </thead>
            <tbody id="list">
                <tr th:if="${posts.data != null and not #lists.isEmpty(posts.data)}" th:each="post, postStat : ${posts.data}">
                    <td><input type="checkbox" /></td>
                    <td th:text="${post.fixedYn != 'N' ? '고정글' : '일반'}"></td>
                    <td><a href="#" th:onclick="'showDetailPost(' + ${post.postId} + ')'" th:text="${post.title}"></a></td>
                    <td><a href="#" th:onclick="'showDetailPost(' + ${post.postId} + ')'" th:text="${post.content}"></a></td>
                    <td th:text="${post.writer != null} ? ${post.writer} : ${'비고'}"></td>
                    <th:block th:if="${post.postFiles != null and post.postFiles.size() > postStat.index and post.postFiles.get(postStat.index).fileAttached != 'N'}">
                        <td>
                            <i class="fas fa-file"></i>
                            <span th:text="${post.postFiles.get(postStat.index).storedFileName}"></span>
                        </td>
                    </th:block>
                    <th:block th:if="${post.postFiles == null or post.postFiles.size() == 0 or post.postFiles.get(postStat.index).fileAttached == 'N'}">
                        <td>파일 없음</td>
                    </th:block>
                    <td th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd')}"></td>
                    <td th:text="${post.readCnt}"></td>
                </tr>
                <tr th:unless="${posts.data != null and not #lists.isEmpty(posts.data)}">
                    <td colspan="8">게시글이 없습니다.</td>
                </tr>
            </tbody>
        </table>

        <div class="paging">
            <p>
                <!-- 첫, 이전 페이지 -->
                <a th:if="${posts.pagination != null and not #strings.isEmpty(posts.pagination.existsPrevPage) and posts.pagination.existsPrevPage == true}"
                   href="javascript:void(0);" th:attr="onclick='movePageWithPageNo(' + ${1} +')'" class="page_bt first">첫 페이지</a>
                <a th:if="${posts.pagination != null and not #strings.isEmpty(posts.pagination.existsPrevPage) and posts.pagination.existsPrevPage == true}"
                   href="javascript:void(0);" th:attr="onclick='movePageWithPageNo(' + ${posts.pagination.startPage - 1} +')'" class="page_bt prev">이전 페이지</a>

                <!-- 1, 2, 3, 4.. -->
                <th:block th:if="${posts.pagination != null and not #strings.isEmpty(posts.pagination.getStartPage())}">
                    <span th:each="i : ${#numbers.sequence(posts.pagination.startPage, posts.pagination.endPage)}">
                        <!--<a th:if="${i != searchRequestDto.pageNo}" href="javascript:void(0);" onclick="movePageWithPageNo(i)" th:text="${i}"></a>-->
                        <a th:if="${i != searchRequestDto.pageNo}" href="javascript:void(0);" th:attr="onclick='movePageWithPageNo(' + ${i} + ')'" th:text="${i}"></a>
                        <span th:if="${i == searchRequestDto.pageNo}" th:text="${i}" class="on"></span>
                    </span>
                </th:block>

                <!-- 다음, 마지막 페이지 -->
                <a th:if="${posts.pagination != null and not #strings.isEmpty(posts.pagination.existsNextPage) and posts.pagination.existsNextPage == true}"
                   href="javascript:void(0);" th:attr="onclick='movePageWithPageNo(' + ${posts.pagination.endPage + 1} + ')'" class="page_bt next">다음 페이지</a>
                <a th:if="${posts.pagination != null and not #strings.isEmpty(posts.pagination.existsNextPage) and posts.pagination.existsNextPage == true}"
                   href="javascript:void(0);" th:attr="onclick='movePageWithPageNo(' + ${posts.pagination.totalPageCount} + ')'" class="page_bt last">마지막 페이지</a>
            </p>
        </div>

        <!--/* 게시글 저장 페이징 이동 버튼 */-->
        <!--<p class="btn_set tr">
            <a th:href="@{/post/}" class="btns btn_st3 btn_mid">글쓰기</a>
        </p>-->
        <br>
        <div class="search_box">
            <form id="searchForm" onsubmit="return false;" autocomplete="off">
                <div class="sch_group fl">
                    <select id="searchType" name="searchType" title="검색 유형 선택">
                        <option value="">전체 검색</option>
                        <option value="title">제목</option>
                        <option value="content">내용</option>
                        <option value="writer">작성자</option>
                    </select>
                    <input type="text" id="searchKeyword" name="searchKeyword" placeholder="키워드를 입력해 주세요." title="키워드 입력" />
                    <!--
                        검색 처리에서는 현재 페이지가 항상 1로 유지 되어야 한다
                        - ex) 예시
                        - A가 작성한 게시글 20 개 존재
                        - B가 3페이지에서 게시글을 보다가 A 가 작성한 글을 보기 위해 "작성자"를 A로 검색
                        - A가 작성한 글을 보았으나, A의 게시글 검색이 안됨
                    -->
                    <button type="button" class="bt_search" onclick="movePageWithPageNo(1);"><i class="fas fa-search"></i><span class="skip_info">검색</span></button>
                </div>
            </form>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/common/common.js"></script>
    <script src="/js/common/message.js"></script>
    <script src="/js/common/sendFetchTemplate.js"></script>
    <script src="/js/post/postList.js"></script>
</div>
</html>