<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>게시판 출력 테스트</title>
<style>
    body {
        text-align: center;
    }

    table {
        margin: 0 auto;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    img {
        width: 100px;
        height: 100px;
    }
</style>
</head>
<body>
<br><br>
<h1>게시판 출력 테스트</h1>
<table>
    <thead>
    <tr>
        <th>No</th>
        <th>말머리</th>
        <th>제목</th>
        <th>내용</th>
        <th>조회수</th>
        <th>파일첨부 여부</th>
        <th>생성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${posts.data != null and not #lists.isEmpty(posts.data)}" th:each="post, postStat : ${posts.data}">
        <td th:text="${postStat.index + 1}"></td>
        <td th:text="${post.categoryName}"></td>
        <td><a th:href="@{/post/{postId}(postId = ${post.postId})}" th:text="${post.title}"></a></td>
        <td><a th:href="@{/post/{postId}(postId = ${post.postId})}" th:text="${post.content}"></a></td>
        <td th:text="${post.readCnt}"></td>
        <td th:text="${post.fileAttached == 'Y' ? 'O' : 'X'}"></td>
        <td th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd')}"></td>
        <!--<td>
            <img th:src="@{'/upload/posts/' + ${#temporals.format(post.createDate, 'yyyy-MM-dd')} + '/' + ${post.storedFileName}}" alt="Image" />
        </td>-->
    </tr>
    </tbody>
</table>
<br>
<div>
    <label for="searchBox">검색어:</label>
    <input type="text" id="searchBox" name="searchBox">
    <button>검색</button>
</div>
</body>
</html>
