<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
    <th:block layout:fragment="title">
        <title>상세 페이지</title>
    </th:block>

    <th:block layout:fragment="content">
        <div class="page_tits">
            <h3>게시판 관리</h3>
            <p class="path"><strong>현재 위치 :</strong> <span>게시판 관리</span> <span>리스트형</span> <span>상세정보</span></p>
        </div>

        <div class="content">
            <section>
                <table class="tb tb_row">
                    <colgroup>
                        <col style="width:10%;"/><col style="width:23%;"/><col style="width:10%;"/><col style="width:23%;"/>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">글 유형</th>
                            <td th:text="${post.noticeYn == false ? '일반' : '공지'}"></td>

                            <th scope="row">등록일</th>
                            <td th:text="${#temporals.format( post.createdDate, 'yyyy-MM-dd HH:mm' )}"></td>
                        </tr>
                        <tr>
                            <th scope="row">제목</th>
                            <td>[[ ${post.title} ]]</td>

                            <th scope="row">조회</th>
                            <td colspan="3">[[ ${post.viewCnt} ]]</td>
                        </tr>
                        <tr>
                            <th scope="row">이름</th>
                            <td colspan="3">[[ ${post.writer} ]]</td>
                        </tr>
                        <tr>
                            <th scope="row">내용</th>
                            <td colspan="3">[[ ${post.content} ]]</td>
                        </tr>
                        <tr>
                            <th scope="row">첨부파일</th>
                            <td id="files" colspan="3">

                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="btn_set">
                    <button type="button" onclick="goWritePage();" class="btns btn_bdr4 btn_mid">수정</button>
                    <button type="button" onclick="deletePost();" class="btns btn_bdr1 btn_mid">삭제</button>
                    <button type="button" onclick="goListPage();" class="btns btn_bdr3 btn_mid">뒤로</button>
                </p>

            </section>
        </div> <!--/* .content */-->

        <!--/* 댓글 수정 popup */-->
        <div id="commentUpdatePopup" class="popLayer">
            <h3>댓글 수정</h3>
            <div class="pop_container">
                <table class="tb tb_row tl">
                    <colgroup>
                        <col style="width:30%;" /><col style="width:70%;" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">작성자<span class="es">필수 입력</span></th>
                            <td><input type="text" id="modalWriter" name="modalWriter" placeholder="작성자를 입력해 주세요." /></td>
                        </tr>
                        <tr>
                            <th scope="row">내용<span class="es">필수 입력</span></th>
                            <td><textarea id="modalContent" name="modalContent" cols="90" rows="10" placeholder="수정할 내용을 입력해 주세요."></textarea></td>
                        </tr>
                    </tbody>
                </table>
                <p class="btn_set">
                    <button type="button" id="commentUpdateBtn" class="btns btn_st2">수정</button>
                    <button type="button" class="btns btn_bdr2" onclick="closeCommentUpdatePopup();">취소</button>
                </p>
            </div>
            <button type="button" class="btn_close" onclick="closeCommentUpdatePopup();"><span><i class="far fa-times-circle"></i></span></button>
        </div>
    </th:block>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
        /*<![CDATA[*/

            window.onload = () => {
                findAllFile();

                findAllComment();
            }


            // 전체 파일 조회
            function findAllFile() {

                // 1. API 호출
                const postId = [[ ${post.id}]];
                const response = getJson(`/posts/${postId}/files`);

                // 2. 로직 종료
                if ( !response.length ) {
                    return false;
                }

                // 3. 파일 영역 추가
                let fileHtml = '<div class="file_down"><div class="cont">';
                response.forEach(row => {
                    fileHtml += `<a href="javascript:alert('준비 중입니다.');"><span class="icons"><i class="fas fa-folder-open"></i></span>${row.originalName}</a>`;
                })
                fileHtml += '</div></div>';

                // 4. 파일 HTML 렌더링
                document.getElementById('files').innerHTML = fileHtml;
            }


           // 전체 댓글 조회
            function findAllComment(page) {

                const uriPage = new URLSearchParams(location.search).get('page');
                page = (page) ? page : (uriPage ? Number(uriPage) : 1);

                const postId = [[ ${post.id}]];
                const uri = `/posts/${postId}/comments`;
                const params = {
                    page : page,
                    recordSize : 5,
                    pageSize : 10,
                    postId : postId,
                }

                const response = getJson(uri, params);
                const pagination = response.pagination;
                drawComments(response.list);
                drawPage(pagination, page);
            }


            // 게시글 삭제
            function deletePost() {

                const id = [[ ${post.id} ]];

                if ( !confirm(id + '번 게시글을 삭제할까요?') ) {
                    return false;
                }

                let inputHtml = '';

                new URLSearchParams(location.search).forEach((value, key) => {
                    inputHtml += `<input type="hidden" name="${key}" value="${value}" />`;
                })

                const formHtml = `
                    <form id="deleteForm" action="/post/delete.do" method="post">
                        ${inputHtml}
                    </form>
                `;

                const doc = new DOMParser().parseFromString(formHtml, 'text/html');
                const form = doc.body.firstChild;
                document.body.append(form);
                document.getElementById('deleteForm').submit();
            }


            // 게시글 수정 페이지로 이동
            function goWritePage() {
                location.href = '/post/write.do' + location.search;
            }


            // 게시글 리스트 페이지로 이동
            function goListPage() {
                const queryString = new URLSearchParams(location.search);
                queryString.delete('id');
                location.href = '/post/list.do' + '?' + queryString.toString();
            }


            // 댓글 길이 카운팅
            function countingLength(content) {
                if (content.value.length > 300) {
                    alert('댓글을 300자 이하로 입력해 주세요.');
                    content.value = content.value.substring(0, 300);
                    content.focus();
                }
                document.getElementById('counter').innerText = content.value.length + '/300자';
            }


            // 댓글 저장
            function saveComment() {

                const content = document.getElementById('content');
                isValid(content, '댓글');

                const postId = [[ ${post.id} ]];
                const uri = `/posts/${postId}/comments`;
                const params = {
                    postId : postId,
                    content : content.value,
                    writer : '홍길동'
                }

                callApi(uri, 'post', params);
                alert('저장되었습니다.');
                content.value = '';
                document.getElementById('counter').innerText = '0/300자';
                findAllComment(1);
            }


            // 댓글 수정 팝업 open
            function openCommentUpdatePopup(id) {

                const postId = [[ ${post.id} ]];
                const uri = `/posts/${postId}/comments/${id}`;
                const response = getJson(uri);
                document.getElementById('modalWriter').value = response.writer;
                document.getElementById('modalContent').value = response.content;
                document.getElementById('commentUpdateBtn').setAttribute('onclick', `updateComment(${id})`);
                layerPop('commentUpdatePopup');
            }


            // 댓글 수정 팝업 close
            function closeCommentUpdatePopup() {
                document.querySelectorAll('#modalContent, #modalWriter').forEach(element => element.value = '');
                document.getElementById('commentUpdateBtn').removeAttribute('onclick');
                layerPopClose('commentUpdatePopup');
            }


            // 댓글 수정
            function updateComment(id) {

                const writer = document.getElementById('modalWriter');
                const content = document.getElementById('modalContent');
                isValid(writer, '작성자');
                isValid(content, '수정할 내용');

                const postId = [[ ${post.id} ]];
                const uri = `/posts/${postId}/comments/${id}`;
                const params = {
                    id : id,
                    postId : postId,
                    content : content.value,
                    writer : writer.value
                }

                callApi(uri, 'patch', params);
                alert('수정되었습니다.');
                closeCommentUpdatePopup();
                findAllComment();
            }


            // 댓글 삭제
            function deleteComment(id) {

                if ( !confirm('선택하신 댓글을 삭제할까요?') ) {
                    return false;
                }

                const postId = [[ ${post.id} ]];
                const uri = `/posts/${postId}/comments/${id}`;
                callApi(uri, 'delete');
                alert('삭제되었습니다.');
                findAllComment();
            }


            // 댓글 HTML draw
            function drawComments(list) {

                if ( !list.length ) {
                    document.querySelector('.cm_list').innerHTML = '<div class="cm_none"><p>등록된 댓글이 없습니다.</p></div>';
                    return false;
                }

                let commentHtml = '';

                list.forEach(row => {
                    commentHtml += `
                        <div>
                            <span class="writer_img"><img src="/images/default_profile.png" width="30" height="30" alt="기본 프로필 이미지"/></span>
                            <p class="writer">
                                <em>${row.writer}</em>
                                <span class="date">${dayjs(row.createdDate).format('YYYY-MM-DD HH:mm')}</span>
                            </p>
                            <div class="cont"><div class="txt_con">${row.content}</div></div>
                            <p class="func_btns">
                                <button type="button" onclick="openCommentUpdatePopup(${row.id});" class="btns"><span class="icons icon_modify">수정</span></button>
                                <button type="button" onclick="deleteComment(${row.id});" class="btns"><span class="icons icon_del">삭제</span></button>
                            </p>
                        </div>
                    `;
                })

                document.querySelector('.cm_list').innerHTML = commentHtml;
            }


            // 페이지네이션 HTML draw
            function drawPage(pagination, page) {

                // 1. 필수 파라미터가 없는 경우, 페이지네이션 HTML을 제거한 후 로직 종료
                if ( !pagination || !page ) {
                    document.querySelector('.paging').innerHTML = '';
                    throw new Error('Missing required parameters...');
                }

                // 2. 페이지네이션 HTML을 그릴 변수
                let html = '';

                // 3. 첫/이전 페이지 버튼 추가
                if (pagination.existPrevPage) {
                    html += `
                        <a href="javascript:void(0);" onclick="findAllComment(1)" class="page_bt first">첫 페이지</a>
                        <a href="javascript:void(0);" onclick="findAllComment(${pagination.startPage - 1})" class="page_bt prev">이전 페이지</a>
                    `;
                }

                // 4. 페이지 번호 추가
                html += '<p>';
                for (let i = pagination.startPage; i <= pagination.endPage; i++) {
                    html += `<a href="javascript:void(0);" onclick="findAllComment(${i});">${i}</a>`
                }
                html += '</p>';

                // 5. 다음/끝 페이지 버튼 추가
                if (pagination.existNextPage) {
                    html += `
                        <a href="javascript:void(0);" onclick="findAllComment(${pagination.endPage + 1});" class="page_bt next">다음 페이지</a>
                        <a href="javascript:void(0);" onclick="findAllComment(${pagination.totalPageCount});" class="page_bt last">마지막 페이지</a>
                    `;
                }

                // 6. <div class="paging"></div> 태그에 변수 html에 담긴 내용을 렌더링
                const paging = document.querySelector('.paging');
                paging.innerHTML = html;

                // 7. 사용자가 클릭한 페이지 번호(page) 또는 끝 페이지 번호(totalPageCount)에 해당되는 a 태그를 찾아 활성화(active) 처리한 후 클릭 이벤트 제거
                const currentPage = Array.from(paging.querySelectorAll('a')).find(a => (Number(a.text) === page || Number(a.text) === pagination.totalPageCount));
                currentPage.classList.add('on');
                currentPage.removeAttribute('onclick');

                // 8. 페이지 URI 강제 변경
                const postId = new URLSearchParams(location.search).get('id');
                history.replaceState({}, '', location.pathname + `?id=${postId}&page=${currentPage.text}`);
            }

        /*]]>*/
        </script>
    </th:block>
</html>