<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shoppingmall.mapper.MemberMapper">
    
    <insert id="join" parameterType="Member">
        INSERT INTO MEMBER
            (
                name
               , account
               , password
               , email
               , phone_number
               , picture
               , birth_date
               , use_yn
               , cert_yn
               , role
               , create_date
               , update_date
               , gender
            )
        VALUES
            (
                #{name},
                #{account},
                #{password},
                #{email},
                #{phoneNumber},
                <choose>
                    <when test="picture != null and picture != ''">
                        #{picture}
                  </when>
                  <otherwise>
                     NULL
                    </otherwise>
                </choose>,
                #{birthDate},
                'Y',
                #{certYn},
                #{role.code},
                NOW(),
                NOW(),
                #{gender}
            )
    </insert>

    <!-- 소셜 로그인 : Google, Naver, Kakao.. -->
    <insert id="joinWithSocialLogin" parameterType="Member" statementType="CALLABLE">
        <![CDATA[
        {
            CALL SP_INSERT_MEMBER
                (
                    #{name},
                    #{account}, /* registrationId + providerToken */
                    #{email},
                    #{picture},
                    #{role.code},
                    #{registrationId},
                    #{providerToken}
                )
        }
        ]]>
    </insert>

    <sql id="roleCase">
        CASE ROLE
            WHEN 'ROLE_USER' THEN 'USER'
            WHEN 'ROLE_GUEST' THEN 'GUEST'
            WHEN 'ROLE_ADMIN' THEN 'ADMIN'
            WHEN 'ROLE_MANAGER' THEN 'MANAGER'
            ELSE ROLE
        END AS role
    </sql>

    <!--
        TODO: TypeHandler를 통해 자동으로 ROLE_USER -> USER로 변환이 가능하도록 수정 필요..
         지금은 일단 이슈 해소를 위해서 CASE WHEN 절로 해결
    -->
    <select id="getMemberByEmail" parameterType="map" resultType="Member">
        SELECT
            m.member_id,
            m.name,
            m.account,
            m.password,
            m.email,
            m.phone_number,
            m.picture,
            m.birth_date,
            m.use_yn,
            m.cert_yn,
            <include refid="roleCase"/>,
            m.create_date,
            m.update_date,
            m.gender,
            sm.provider_type AS registrationid
        FROM MEMBER m JOIN SOCIAL_MEMBER sm ON m.member_id = sm.member_id
        WHERE m.email = #{email}
        AND sm.provider_type = #{registrationId}
        AND m.use_yn = 'Y'
        AND m.cert_yn = 'Y'
    </select>

    <select id="getMemberById" parameterType="int" resultType="Member">
        SELECT
            m.member_id,
            m.name,
            m.account,
            m.password,
            m.email,
            m.phone_number,
            m.picture,
            m.birth_date,
            m.use_yn,
            m.cert_yn,
            <include refid="roleCase"/>,
            m.create_date,
            m.update_date,
            m.gender
        FROM MEMBER m
        WHERE m.member_id = #{memberId}
        AND m.use_yn = 'Y'
        AND m.cert_yn = 'Y'
    </select>

    <!-- 소셜 로그인 후 session에 저장 할 회원 조회 -->
    <select id="getMemberByEmailWithSocialLogin" parameterType="string" resultType="Member">
        SELECT
            m.name,
            m.email,
            m.picture,
            <include refid="roleCase"/>,
            sm.provider_type AS registrationid
        FROM MEMBER m JOIN SOCIAL_MEMBER sm ON m.member_id = sm.member_id
        WHERE m.email = #{email}
        AND sm.provider_type = #{registrationId}
        AND m.use_yn = 'Y'
        AND m.cert_yn = 'Y'
    </select>

    <!-- 소셜 로그인 사용자의 이메일, 대표 이미지가 변경 된 경우 DB 데이터 변경 -->
    <update id="updateMemberByEmailAndPicture" parameterType="Member">
        UPDATE MEMBER m
            INNER JOIN SOCIAL_MEMBER sm ON m.member_id = sm.member_id
        SET m.email = #{email},
            m.picture = #{picture}
        WHERE m.email = #{email}
        AND sm.provider_type = #{registrationId}
        AND m.use_yn = 'Y'
        AND m.cert_yn = 'Y';
    </update>

    <select id="getMemberByAccount" parameterType="string" resultType="Member">
        SELECT
            m.member_id,
            m.name,
            m.account,
            m.password,
            m.email,
            m.phone_number,
            m.picture,
            m.birth_date,
            m.use_yn,
            m.cert_yn,
            <include refid="roleCase"/>,
            m.create_date,
            m.update_date,
            m.gender
        FROM MEMBER m
        WHERE m.ACCOUNT = #{username}
        AND m.USE_YN = 'Y'
        AND m.CERT_YN = 'Y'
    </select>
    
    <select id="checkDuplicateMemberAccount" parameterType="string" resultType="int">
        SELECT COUNT(*) AS cnt
        FROM MEMBER m
        WHERE m.account = #{account}
    </select>

</mapper>
