<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shoppingmall.mapper.MemberMapper">
    
    <insert id="join" parameterType="Member">
        INSERT INTO MEMBER
            (
                NAME
               , ACCOUNT
               , PASSWORD
               , EMAIL
               , PHONE_NUMBER
               , PICTURE
               , BIRTH_DATE
               , USE_YN
               , CERT_YN
               , ROLE
               , CREATE_DATE
               , UPDATE_DATE
               , GENDER
            )
        VALUES
            (
                #{name},
                #{account},
                #{password},
                #{email},
                #{phoneNumber},
                <choose>
                    <when test="picture != null and picture != ''">
                        #{picture}
                  </when>
                  <otherwise>
                     NULL
                    </otherwise>
                </choose>,
                #{birthDate},
                'Y',
                #{certYn},
                #{role.code},
                now(),
                now(),
                #{gender}
            )
    </insert>

    <!-- 소셜 로그인 : Google, Naver, Kakao.. -->
    <insert id="joinWithSocialLogin" parameterType="Member" statementType="CALLABLE">
        <![CDATA[
        {
            CALL SP_INSERT_MEMBER
                (
                    #{name},
                    #{account}, /* registrationId + providerToken */
                    #{email},
                    #{picture},
                    #{role.code},
                    #{registrationId},
                    #{providerToken}
                )
        }
        ]]>
    </insert>

    <sql id="roleCase">
        CASE ROLE
            WHEN 'ROLE_USER' THEN 'USER'
            WHEN 'ROLE_GUEST' THEN 'GUEST'
            WHEN 'ROLE_ADMIN' THEN 'ADMIN'
            WHEN 'ROLE_MANAGER' THEN 'MANAGER'
            ELSE ROLE
        END AS role
    </sql>

    <!--
        TODO: TypeHandler를 통해 자동으로 ROLE_USER -> USER로 변환이 가능하도록 수정 필요..
         지금은 일단 이슈 해소를 위해서 CASE WHEN 절로 해결
    -->
    <select id="getMemberByEmail" parameterType="map" resultType="Member">
        SELECT
            M.MEMBER_ID,
            M.NAME,
            M.ACCOUNT,
            M.PASSWORD,
            M.EMAIL,
            M.PHONE_NUMBER,
            M.PICTURE,
            M.BIRTH_DATE,
            M.USE_YN,
            M.CERT_YN,
            <include refid="roleCase"/>,
            M.CREATE_DATE,
            M.UPDATE_DATE,
            M.GENDER,
            SM.PROVIDER_TYPE AS REGISTRATIONID
        FROM MEMBER M JOIN SOCIAL_MEMBER SM ON M.MEMBER_ID = SM.MEMBER_ID
        WHERE M.EMAIL = #{email}
        AND SM.PROVIDER_TYPE = #{registrationId}
        AND M.USE_YN = 'Y'
        AND M.CERT_YN = 'Y'
    </select>

    <select id="getMemberById" parameterType="long" resultType="Member">
        SELECT
            M.MEMBER_ID,
            M.NAME,
            M.ACCOUNT,
            M.PASSWORD,
            M.EMAIL,
            M.PHONE_NUMBER,
            M.PICTURE,
            M.BIRTH_DATE,
            M.USE_YN,
            M.CERT_YN,
            <include refid="roleCase"/>,
            M.CREATE_DATE,
            M.UPDATE_DATE,
            M.GENDER
        FROM MEMBER M
        WHERE M.MEMBER_ID = #{memberId}
        AND M.USE_YN = 'Y'
        AND M.CERT_YN = 'Y'
    </select>

    <!-- 소셜 로그인 후 session에 저장 할 회원 조회 -->
    <select id="getMemberByEmailWithSocialLogin" parameterType="string" resultType="Member">
        SELECT
            M.NAME,
            M.EMAIL,
            M.PICTURE,
            <include refid="roleCase"/>,
            SM.PROVIDER_TYPE AS REGISTRATIONID
        FROM MEMBER M JOIN SOCIAL_MEMBER SM ON M.MEMBER_ID = SM.MEMBER_ID
        WHERE M.EMAIL = #{email}
        AND SM.PROVIDER_TYPE = #{registrationId}
        AND M.USE_YN = 'Y'
        AND M.CERT_YN = 'Y'
    </select>

    <!-- 소셜 로그인 사용자의 이메일, 대표 이미지가 변경 된 경우 DB 데이터 변경 -->
    <update id="updateMemberByEmailAndPicture" parameterType="Member">
        UPDATE MEMBER M
            INNER JOIN SOCIAL_MEMBER SM ON M.MEMBER_ID = SM.MEMBER_ID
        SET M.EMAIL = #{email},
            M.PICTURE = #{picture}
        WHERE M.EMAIL = #{email}
        AND SM.PROVIDER_TYPE = #{registrationId}
        AND M.USE_YN = 'Y'
        AND M.CERT_YN = 'Y';
    </update>

    <select id="getMemberByAccount" parameterType="string" resultType="Member">
        SELECT
            M.MEMBER_ID,
            M.NAME,
            M.ACCOUNT,
            M.PASSWORD,
            M.EMAIL,
            M.PHONE_NUMBER,
            M.PICTURE,
            M.BIRTH_DATE,
            M.USE_YN,
            M.CERT_YN,
            <include refid="roleCase"/>,
            M.CREATE_DATE,
            M.UPDATE_DATE,
            M.GENDER
        FROM MEMBER M
        WHERE M.ACCOUNT = #{username}
        AND M.USE_YN = 'Y'
        AND M.CERT_YN = 'Y'
    </select>
    
    <select id="checkDuplicateMemberAccount" parameterType="string" resultType="int">
        SELECT COUNT(*) AS CNT
        FROM MEMBER M
        WHERE M.ACCOUNT = #{account}
    </select>

</mapper>
