<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shoppingmall.mapper.PostMapper">

    <sql id="subCategoryId">
        <if test="subCategoryId != null and subCategoryId != ''">
        </if>
    </sql>

    <!-- 검색 키워드가 존재하는 경우 -->
    <sql id="search">
        <if test="searchKeyword != null and searchKeyword != ''">
            <choose>
                <when test="searchType != null and searchType != '' and 'title'.equals(searchType)">
                    AND title LIKE CONCAT('%', #{searchKeyword}, '%')
                </when>
                <when test="searchType != null and searchType != '' and 'content'.equals(searchType)">
                    AND content LIKE CONCAT('%', #{searchKeyword}, '%')
                </when>
                <when test="searchType != null and searchType != '' and 'writer'.equals(searchType)">
                    AND EXISTS (
                        SELECT 1
                        FROM MEMBER m
                        WHERE m.member_id = p.member_id
                        AND m.use_yn = 'Y'
                        AND m.cert_yn = 'Y'
                        AND m.name LIKE CONCAT('%', #{searchKeyword}, '%')
                    )
                </when>
                <otherwise>
                    AND (
                        title LIKE CONCAT('%', #{searchKeyword}, '%')
                        OR content LIKE CONCAT('%', #{searchKeyword}, '%')
                        OR EXISTS (
                            SELECT 1
                            FROM MEMBER m
                            WHERE m.member_id = p.member_id
                            AND m.use_yn = 'Y'
                            AND m.cert_yn = 'Y'
                            AND m.name LIKE CONCAT('%', #{searchKeyword}, '%')
                        )
                    )
                </otherwise>
            </choose>
        </if>
    </sql>

    <!--
        https://www.sysout.co.kr/home/webbook/page/read/643;jsessionid=54B3D5320E73A41FC4088D5E3D322141
        아래 부분은 조금 고민 Map or VO에 그냥 필드 넣어서 처리가 가능하긴 한데 resultMap으로 하는게 좋을 듯?
        그래도 1 : N 처리를 위해 resultMap을 사용해서 일단 처리하고 추후 테이블이 복잡해지면 VO를 분리할 것
     -->
    <resultMap id="PostResultMap" type="Post">
        <id property="postId" column="POST_ID" />
        <result property="memberId" column="MEMBER_ID" />
        <result property="title" column="TITLE" />
        <result property="content" column="CONTENT" />
        <result property="categoryId" column="CATEGORY_ID" />
        <result property="categoryName" column="CATEGORYNAME" />
        <result property="writer" column="WRITER" />
        <result property="readCnt" column="READ_CNT" />
        <result property="fixedYn" column="FIXED_YN" />
        <result property="delYn" column="DEL_YN" />
        <result property="createDate" column="CREATE_DATE" />
        <result property="updateDate" column="UPDATE_DATE" />
        <result property="deleteDate" column="DELETE_DATE" />

        <!-- 1(Post) : N(PostFiles) -->
        <collection property="postFiles" resultMap="PostFilesResultMap" />
    </resultMap>

    <resultMap id="PostFilesResultMap" type="PostFiles">
        <id property="postFileId" column="POST_FILE_ID" />
        <result property="postId" column="POST_ID" />
        <result property="originFileName" column="ORIGIN_FILE_NAME" />
        <result property="storedFileName" column="STORED_FILE_NAME" />
        <result property="filePath" column="FILE_PATH" />
        <result property="fileSize" column="FILE_SIZE" />
        <result property="fileExp" column="FILE_EXP" />
        <result property="downloadCnt" column="DOWNLOAD_CNT" />
        <result property="delYn" column="DEL_YN" />
        <result property="createDate" column="CREATE_DATE" />
        <result property="deleteDate" column="DELETE_DATE" />
        <result property="fileAttached" column="FILE_ATTACHED" />
    </resultMap>

    <!-- 전체 게시글 조회 -->
    <!--
        Mybatis에서 쿼리의 parameterType이 클래스의 객체인 경우, XML Mapper의 #{parameter}
        는 맴버 변수의 getter에 해당. 쉽게 말해 getter를 통해 파라미터 바인딩 수행.
    -->
    <select id="getPosts" parameterType="SearchRequestDto" resultMap="PostResultMap">
        SELECT
            p.post_id,
            p.title,
            p.content,
            (select m.name from member m where m.member_id = p.member_id and m.use_yn = 'y' and m.cert_yn = 'y') AS writer,
            p.category_id,
            (select c.category_name from post_category c where c.category_id = p.category_id) AS categoryName,
            p.read_cnt,
            p.fixed_yn,
            p.del_yn,
            p.create_date,
            p.update_date,
            p.delete_date,
            f.post_file_id,
            f.post_id,
            f.origin_file_name,
            f.stored_file_name,
            f.file_path,
            f.file_size,
            f.file_exp,
            f.download_cnt,
            f.del_yn,
            f.create_date,
            f.delete_date,
            f.file_attached
        FROM POST p
            LEFT OUTER JOIN POST_FILE f
        ON p.post_id = f.post_id
        WHERE p.del_yn != 'Y'
            <include refid="search" />
        ORDER BY p.create_date DESC,
                 p.post_id DESC
        LIMIT #{pagination.limitStart}, #{recordSizePerPage}
    </select>

    <!-- 게시글 수 카운팅 -->
    <select id="count" parameterType="SearchRequestDto" resultType="int">
        SELECT COUNT(*) AS cnt
        FROM POST p
        WHERE
            p.del_yn = 'N'
            <include refid="search" />
    </select>

    <!-- 단일 게시글 조회 -->
    <select id="getPostByPostId" parameterType="int" resultType="Post">
        SELECT
            p.post_id,
            p.title,
            p.content,
            p.member_id,
            (select m.name from member m where m.member_id = p.member_id and m.use_yn = 'y' and m.cert_yn = 'y') AS writer,
            p.category_id,
            (select c.category_name from post_category c where c.category_id = p.category_id) AS categoryName,
            p.read_cnt,
            p.fixed_yn,
            p.del_yn,
            p.create_date,
            p.update_date,
            p.delete_date
        FROM POST p
        WHERE p.post_id = #{postId}
        AND p.del_yn != 'Y'
    </select>

    <!-- 게시글 등록 -->
    <insert id="savePost" parameterType="Post" useGeneratedKeys="true" keyProperty="postId">
        INSERT INTO POST (member_id, title, content, fixed_yn, category_id)
        VALUE
            (
                #{memberId},
                #{title},
                #{content},
                #{fixedYn},
                <choose>
                    <when test="categoryId != null and categoryId != ''">
                        #{categoryId}
                    </when>
                    <otherwise>
                        '999'
                    </otherwise>
                </choose>
            )
    </insert>

    <!-- 게시글 수정 -->
    <update id="updatePost" parameterType="Post">
        UPDATE POST
        SET
            title = #{title},
            content = #{content},
            fixed_yn = #{fixedYn} /* Admin인 경우에만 수정/삭제 가능 하도록 수정 필요 */
        WHERE post_id = #{postId}
        AND member_id = #{memberId}
        AND del_yn = 'N'
    </update>

    <!-- 게시글 삭제 -->
    <update id="deletePostByPostId" parameterType="int">
        UPDATE POST
        SET
            del_yn = 'Y',
            delete_date = NOW()
        WHERE post_id = #{postId}
    </update>

    <!-- 조회수 증가 -->
    <update id="increasePostByPostId" parameterType="int">
        UPDATE POST
        SET
            read_cnt = read_cnt + 1
        WHERE post_id = #{postId}
        AND del_yn = 'N'
    </update>
</mapper>