<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shoppingmall.mapper.PostFileMapper">

    <!-- 파일 정보 저장 -->
    <insert id="saveFiles" parameterType="list">
        INSERT INTO POST_FILE (
            post_file_id
            , post_id
            , origin_file_name
            , stored_file_name
            , file_path
            , file_size
            , file_exp
            , download_cnt
            , del_yn
            , create_date
            , delete_date
            , file_attached
        ) VALUES
        <foreach item="file" collection="list" separator=",">
            (
                #{file.postFileId}
                , #{file.postId}
                , #{file.originFileName}
                , #{file.storedFileName}
                , #{file.filePath}
                , #{file.fileSize}
                , #{file.fileExp}
                , 0
                , 'N'
                , NOW()
                , NULL
                , #{file.fileAttached}
            )
        </foreach>
    </insert>

    <!--
        파일 삭제 > 게시글 수정 시 클라이언트가 올린 파일이 있으면 기존 파일은 전부 삭제 후 다시 저장
        트랜잭션 단위에서 수행을 하기에 괜찮을 것 같음
    -->
    <update id="deleteFilesByPostId" parameterType="int">
        UPDATE POST_FILE f
        SET
            f.del_yn = 'Y',
            f.delete_date = NOW()
        WHERE f.post_id = #{postId}
        AND f.del_yn = 'N'
    </update>

    <!-- 파일 조회 -->
    <select id="getFilesByPostId" parameterType="int" resultType="PostFiles">
        SELECT
            post_file_id
            , post_id
            , origin_file_name
            , stored_file_name
            , file_path
            , file_size
            , file_exp
            , download_cnt
            , del_yn
            , create_date
            , delete_date
            , file_attached
        FROM POST_FILE f
        WHERE f.post_id = #{postId}
        AND f.del_yn = 'N'
    </select>

    <!-- 단건 파일 조회 -->
    <select id="getFileByPostFileId" parameterType="int" resultType="PostFiles">
        SELECT
            post_file_id
            , post_id
            , origin_file_name
            , stored_file_name
            , file_path
            , file_size
            , file_exp
            , download_cnt
            , del_yn
            , create_date
            , delete_date
            , file_attached
        FROM POST_FILE f
        WHERE f.post_file_id = #{postFileId}
        AND f.del_yn = 'N'
    </select>

    <!-- 파일 다운로드 수 업데이트 -->
    <update id="increaseDownloadCntByFileId" parameterType="int">
        UPDATE POST_FILE
        SET download_cnt = download_cnt + 1
        WHERE post_file_id = #{postFileId}
    </update>

    <select id="countFilesByPostId" parameterType="int" resultType="int">
        SELECT COUNT(*) AS cnt
        FROM POST_FILE
        WHERE post_id = #{postFileId}
    </select>
</mapper>
