<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shoppingmall.mapper.ProductFileMapper">

    <insert id="saveFiles" parameterType="list">
        INSERT INTO PRODUCT_FILE (
            product_id,
            origin_file_name,
            stored_file_name,
            file_path,
            file_size,
            file_exp,
            create_date,
            delete_date,
            del_yn,
            file_attached,
            downlod_cnt
        ) VALUES
        <foreach item="file" collection="list" separator=",">
            (
                #{file.productId}
                , #{file.originFileName}
                , #{file.storedFileName}
                , #{file.filePath}
                , #{file.fileSize}
                , #{file.fileExp}
                , NOW()
                , NULL
                , 'N'
                , #{file.fileAttached}
                , 0
            )
        </foreach>
    </insert>

    <select id="getFilesByProductId" parameterType="long" resultType="ProductFiles">
        SELECT
            product_file_id,
            product_id,
            origin_file_name,
            stored_file_name,
            file_path,
            file_size,
            file_exp,
            create_date,
            delete_date,
            del_yn,
            file_attached,
            downlod_cnt
        FROM PRODUCT_FILE pf
        WHERE pf.product_id = #{productId}
        AND pf.del_yn = 'N'
    </select>

    <select id="countProductFileByProductId" parameterType="long" resultType="int">
        SELECT COUNT(*) AS cnt
        FROM PRODUCT_FILE pf
        WHERE pf.product_id = #{productId}
        AND pf.del_yn = 'N'
    </select>

    <update id="deleteFilesByProductId" parameterType="long">
        UPDATE PRODUCT_FILE pf
        SET
            pf.del_yn = 'Y'
        WHERE pf.product_id = #{productId}
    </update>
</mapper>
