<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shoppingmall.mapper.ProductFileMapper">

    <insert id="saveFiles" parameterType="list">
        INSERT INTO PRODUCT_FILE (
            PRODUCT_ID,
            ORIGIN_FILE_NAME,
            STORED_FILE_NAME,
            FILE_PATH,
            FILE_SIZE,
            FILE_EXP,
            CREATE_DATE,
            DELETE_DATE,
            DEL_YN,
            FILE_ATTACHED,
            DOWNLOD_CNT
        ) VALUES
        <foreach item="file" collection="list" separator=",">
            (
                #{file.productId}
                , #{file.originFileName}
                , #{file.storedFileName}
                , #{file.filePath}
                , #{file.fileSize}
                , #{file.fileExp}
                , NOW()
                , NULL
                , 'N'
                , #{file.fileAttached}
                , 0
            )
        </foreach>
    </insert>

</mapper>
