<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shoppingmall.mapper.RefreshTokenMapper">

    <!-- memberId, refreshToken DB 저장 -->
    <insert id="saveRefreshToken" parameterType="RefreshToken">
        INSERT INTO REFRESH_TOKEN
            (
                MEMBER_ID,
                REFRESH_TOKEN
            )
        VALUE
            (
                #{memberId},
                #{refreshToken}
            )
    </insert>

    <delete id="deleteRefreshToken" parameterType="String">
        DELETE
        FROM REFRESH_TOKEN
        WHERE refresh_token = #{refreshToken};
    </delete>

    <select id="findByRefreshToken" parameterType="string" resultType="RefreshToken">
        SELECT
            REFRESH_TOKEN_ID,
            MEMBER_ID,
            REFRESH_TOKEN
        FROM
            REFRESH_TOKEN
        WHERE
            REFRESH_TOKEN = #{refreshToken};
    </select>
</mapper>